*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New';
}
.hero-header{
    flex: 2;
    background-color: rgb(59, 59, 59);
    text-align: center;
}
.hero-content{
    flex:10;
    background-color: rgb(138, 138, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-footer{
    flex:1;
    background-color: rgb(59, 59, 59);
    text-align: center
}