*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
}
nav{
    background-color: blueviolet;
}
.content1{
    background-color: chartreuse;
}
.content2{
    background-color: rgb(84, 84, 84);
}
.content3{
    background-color: rgb(20, 17, 205);
}
footer{
    background-color: crimson;
}