*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-header{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 1);
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.hero-header h1{
    margin-bottom: 12px;
    color: antiquewhite;
}
.hero-header a{
    text-decoration: none;
    padding: 0 10px;
    color: aquamarine;
}
.hero-header a:hover{
    color: rgb(241, 36, 36);
}

.hero-main {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 87);
    color: aliceblue;
}
.hero-main h1{
    margin: 10px 0 ;
    color: blue;
}
.hero-main p{
    color: rgb(0, 248, 21);
}
.hero-footer {
    flex: 1;
    background-color: rgb(1, 1, 1);
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 10px;
}
