body{
    background-color: aquamarine;
    font-family:'Arial Narrow';
}
.container{
    background-color: rgb(221, 180, 127);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    min-height: 100vh;
    /* align-content: flex-end; */
    gap: 100px;
}
.box1{
    background-color: blue;
    /* padding: 20px;
    margin: 5px; */
    height: 100px;
    width: 100px;
    border-style:double;
    border-color:tomato;
    border-radius: 20%;
    /* flex:1; */
}
.box2{
    background-color: rgb(235, 59, 6);
    /* padding: 20px;
    margin: 5px; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* flex:2; */
}
.box3{
    background-color: rgb(134, 134, 134);
    /* padding: 20px;
    margin: 5px; */
    height: 100px;
    width: 100px;
    /* flex:1; */
}